
@media screen and (max-width: 600px){
    #nav {
        height: auto;
        padding: 1rem;
        width: 100%;
        position: fixed;
        z-index: 999;
        gap: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    #nav .menu{
        padding: 1rem;
    }

    .page1 h1{
        font-size: 7rem;
    }
    .about,.foodandmess{
        flex-direction: column;
        height: auto;
    }
    .about .about-detail{
        width: 90vw;
    }
    .foodandmess{
        padding-top: 10vh;
    }
    .foodandmess .foodandmess-detail{
        width: 90%;
        margin-bottom: 20px;
    }
    .imgcontainer{
        max-width: 70vw;
    }

}