@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    font-family: Poppins;
    font-size: 12px;
}

@keyframes navAnimation {
    to{width:  50%;}
    from {width: 0% ; overflow: hidden;}
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff
    }
    
    to {
      text-shadow: 0 0 20px #ffffff
    }
  }

body{
    background-image:url(../pics/IMG_20240219_112346c.jpg);
    background-blend-mode:color;
    background-color: rgba(0, 0, 0, 0.633);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    user-select: none;
    background-repeat: no-repeat;
}

body::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
a:hover{
    font-size: 15px;
    color: rgb(116, 116, 116);
    font-weight: 500;
}
button{
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 100px;
    font-size: 15px;
    background-color: #eee5;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    border: none;
    transition: 0.5s;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 10px;
    position: relative;   
}

header ul{
    display: flex;
    width: fit-content;
    list-style-type: none;
    
}

header ul a {
    display: block;
    margin: 0 10px;
    letter-spacing: 2px;
    cursor: pointer;
    animation: navAnimation 2s linear forwards;
    text-decoration: none;
    color: white;

}

header .logo{
    font-weight: bold;
    color: #eee;
    font-size: 2rem;
    animation: navAnimation 2s linear forwards;
}

header .menu{
    color: white;
    text-transform: uppercase;
    list-style: none;      
}

.bottom-menu{
    display: flex;
    align-items: center;
    z-index: 100;
    padding: 10px;
    position: fixed;
    left: 0%;right: 0%;
    bottom: 0%;
    transition: 0.3s;
    margin-bottom: -4px;
}

.bottom-menu ul{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: fit-content;
    overflow: hidden;
    margin-left: 0px;
    padding: 0px;
    list-style-type: none;
    width: 100%;
}

.bottom-menu ul a {
    display: block;
    letter-spacing: 2px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 1.5rem;
    opacity: 0.5;
    transition: 0.5s;
}

.bottom-menu ul a:hover{
    opacity: 1;
    animation: glow 1s ease-in-out infinite alternate;
}
.bottom-menu ul a:focus{
    opacity: 1;
    animation: glow 1s ease-in-out infinite alternate;
}
.data{
    max-width: 85rem;
    position: relative;
    padding: 2%;
    overflow: hidden;
}

.datacontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.datacontent .content{
    padding: 1rem;
}

.datacontent .content h1{
    box-shadow: 0 1rem 3rem -0.75rem hsla(0 , 0%, 0% , 0.40);
    border-radius: 1.5rem;
    padding-left: 1rem;
}
@media screen and (max-width: 600px){
   
    .datacontent {
        display: block;
        overflow: hidden;
    }
    .bottom-menu ul a{
        font-size: 1.2rem;
        opacity: 1;
    }
    .bottom-menu{
        background-color:hsl(0, 0%, 0%);
    }
}