@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.page1{
    height: 90vh;
    background-image:url(../Assets/IMG_20240224_124946c.jpg);
    background-color: rgba(0, 0, 0, 0.132);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    padding: 0.1rem 4rem;
    align-items: center;
}
.leftcontent{
    font-size: 3rem;
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
    font-weight: 200;
}
.rightcontent ul a{
    text-decoration: none;
    margin-left: 5rem;
    font-size: 1rem;
    color: rgb(71, 71, 71);
    letter-spacing: 1.5px;
    font-weight: 500;
    transition: 0.3s;
}
.rightcontent ul a:hover{
    color: black;
}
.page1 .textBox{
    position:relative;
    margin-left:4rem;
    top: 31%;
    color: black;
}
.page1 .textBox h1{
    font-size: 6.5vw;
    font-weight: 100;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 2px;
}
.page1 .textBox p{
    font-size: 2vw;
    text-transform: uppercase;
    color: rgb(50, 49, 49);
    font-weight: 400;
}
.page2{
    height: 65vh;
    background-color: #424b54;
}
.page2 .textBox{
    display: flex;
    position: relative;
    align-items: center;
    padding:2.5rem;
    flex-direction: column;
    text-align: center;
    color: white;
}
.page2 .textBox h1{
    font-family: "Orbitron", sans-serif;
    text-decoration: underline;
}
.page2 .textBox p{
    font-family: "poppins", sans-serif;
    line-height: 1.7rem;
    letter-spacing: 0.5px;
}
.cardSection{
    display: flex;
    height: 90vh;
    
}
.text-bg-dark{
    height: 100%;
    width: 50vw;
    --bs-card-border-color: none;
    --bs-card-inner-border-radius:none:
    border-radius: 0;
}
.text-bg-dark img{
    object-fit: cover;
    border-radius: 0;
    height: 100%;
}
.card-img-overlay{
    top: 70%;
    background-image: linear-gradient(to top,black 10%,transparent);   
}
.card-img-overlay h5{
    font-size:4vw;
    font-family: "Orbitron", sans-serif;
}
.card-img-overlay p{
    font-size: 1.3vw;
}


/* footer */
.footer{
    background-color: #333333;
}
.socialIcons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.socialIcons li{
    list-style: none;
    margin:0 1rem;
}
.socialIcons li a ion-icon{
    font-size: 3rem;
    color: white;
}
.footerContainer{
    padding: 1rem 0;
}
.footerBottom{
    padding:5px;
    background-color: #000;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}